/* Banner */

@-moz-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }

.banner {
	-moz-animation: reveal-banner 1s 0.25s ease-in-out;
	-webkit-animation: reveal-banner 1s 0.25s ease-in-out;
	-o-animation: reveal-banner 1s 0.25s ease-in-out;
	-ms-animation: reveal-banner 1s 0.25s ease-in-out;
	animation: reveal-banner 1s 0.25s ease-in-out;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
    background: rgba(255, 255, 255, 0.2);
	color: white;
	display: inline-block;
	opacity: 0;
	padding: 3em;
	text-align: center;
    min-width: 400px;
    
    &.banner-light {
        background: rgba(255, 255, 255, 0.2);
    }
    
    &.banner-dark {
        background: rgba(0, 0, 0, 0.2);
    }
    
    div.paragraph {
		letter-spacing: 0.1em;
		text-transform: uppercase;
        
        a {
            color: inherit;
            font-weight: 400;
            text-decoration: none;
    	}
	}

    footer {
		margin: 2em 0 0 0;
	}
    
}
