/* Container */

.one-container {
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
	color: #000000;
	cursor: default;

    .one-container-image {
        padding: 0;
        
        &.pattern-none {
            
        }
        
    }

}
