header.feature {
    
    h1, h2, h3, h4, h5 {        
        border-bottom: 2px solid;
        border-top: 2px solid;
        font-weight: 900;
        letter-spacing: 0.2em;
        margin: 0 0 32px 0;
        padding-left: 0;
        position: relative;
        text-transform: uppercase;
        display: inline-block;
        
        &:after {
            display: block;
            border-bottom: 2px solid;
            content: '';
            margin-bottom: 3px;
        }
    
        &:before {
            display: block;
            border-top: 2px solid;
            content: '';
            margin-top: 3px;
        }
    
    }
    
    h1 {
        border-radius: 4px;
        border-bottom: solid 4px;
        border-top: solid 4px;
        
        &:before {
            border-top: 4px solid;
        }
        
        &:after {
            border-bottom: 4px solid;
        }
        
    }
    
}
