hr {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #eeeeee;
  
  &.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  &.solid {
      border-top: 2px solid rgba(0, 0, 0, 0.5);
  }
  &.dashed {
      border-top: 2px dashed rgba(0, 0, 0, 0.5);
  }
  
}
