ul.user-list {
    margin: 0px;
    
    li {
        padding-left: 32px;
        
        &:before {
            content: "\f0da";
            font-family: FontAwesome;
            position: absolute;
            left: 14px;
        }

    }    
    
}

ol.user-list {
    margin: 0px;
}