<div class="row">
    <% for ( var i = 0; i < parseInt(columns); i++ ) { %>
        <div class="column col-md-<%= 12 / parseInt(columns) %>">
            <%= widget_drop_container() %>
        </div>
    <% } %>
</div>