<div style="margin-bottom: 21px; position: relative; height: <%=height%>px;">
    <iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2F<%=page%>&amp;width=<%=width%>&amp;height=<%=height%>&amp;colorscheme=<%=colorscheme%>&amp;show_faces=<%=show_faces%>&amp;header=<%=header%>&amp;stream=<%=stream%>&amp;show_border=<%=show_border%>&amp;appId=157225661000367" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 100%; height: 100%; max-width: <%=width%>px; max-height: <%=height%>px;" allowTransparency="true"></iframe>
</div>