<div style="margin-bottom: 21px;">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%=location%>&hl=en&z=<%=zoom%>&t=<%=map_type%>&output=embed" style="width:100%; height:100%; max-height: <%=height%>px;"></iframe>
</div>
