<div style="height: 0; overflow: hidden; padding-bottom: 56.25%; padding-top: 30px; position: relative; margin-bottom: 21px;">
    <iframe src="//player.vimeo.com/video/<%=vimeo_id%>?portrait=0&amp;badge=0" width="<%=width%>" height="<%=height%>" style="max-width: 100%; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
