<div style="height: 0; overflow: hidden; padding-bottom: 56.25%; padding-top: 30px; position: relative; margin-bottom: 21px;">
    <iframe type="text/html" width="<%=width%>" height="<%=height%>" style="max-width: 100%; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" src="https://www.youtube.com/embed/<%=youtube_id%>" allowfullscreen frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
</div>
