/*
	Twenty 1.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

@media (max-width: 639px) {

    h1 {
        font-size: 24px;
        margin-top: 0px;
    }
    
    h1, h2, h3, h4, h5, div.paragraph {
        margin-left: 12px;
        margin-right: 12px;
    }

/* Container */

	.one-container .one-container-image {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    
/* Banner */
    
    .banner {
		padding: 12px !important;
        min-width: initial;
    }
    
    a.btn-block {
        margin-top: 12px;
    }
   
}