/*
	Twenty 1.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

@media all and (min-width: 980px) and (max-width: 1279px) {

/* Basic */

    .container {
        width: 95%;
    }

	body, input, select, textarea {
		font-size: 13pt;
		letter-spacing: 0.025em;
		line-height: 1.5em;
	}

	header br {
		display: none;
	}

	header.major {
		padding-bottom: 1em;
	}

	header.special {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	footer.major {
		padding-top: 1.5em;
	}

/* Wrapper */

	.wrapper {
		margin-bottom: 3em;
		padding: 3em 2.5em;
	}

		.wrapper.special br {
			display: none;
		}

		.wrapper.style1 {
			padding: 0 2.5em;
		}

		.wrapper.style2 {
			background-size: 15em;
		}

		.wrapper.style4 {
			padding: 2.5em;
		}

/* Container */

	.one-container .one-container-image {
		background-size: 15em, 15em, auto;
	}

/* Main */

	#main {
		background-size: 15em;
	}

/* CTA */

	#cta {
		background-size: 15em, 15em, auto, cover;
		padding: 3em;
	}
    
}